<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav_bar">
        <a href="/" class="nav_link"><div class="nav_button">Home</div></a>
        <a href="/products" class="nav_link"><div class="nav_button">Products</div></a>
        <a href="/contact" class="nav_link"><div class="nav_button">Contacts</div></a>
        <a href="/about" class="nav_link"><div class="nav_button selected">About</div></a>
        <a href="/subscribe" class="nav_link"><div class="nav_button">Subscribe</div></a>
    </div>
    <div class="main_content_area">
        <h1>The About Page</h1>
    </div>
</body>
</html>